# Default ignored files
/shelf/
/workspace.xml
/saved.dat
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#Editor Folder
/.idea/